### list

In [3]:
numbers = [1, 3, 5, 7, 9]

In [4]:
values = [1, 2.0, "hello", "world", ["a", "b", "c"]]

In [6]:
numbers[0]

1

In [7]:
len(numbers)

5

In [8]:
numbers[len(numbers)-1]

9

In [9]:
numbers[-1]

9

In [12]:
# chage value
numbers[0] = 100

In [13]:
print(numbers)

[100, 3, 5, 7, 9]

In [14]:
numbers.append(200)

In [17]:
numbers

[100, 3, 5, 7, 9, 200]

In [18]:
numbers. insert(1,300)
numbers

[100, 300, 3, 5, 7, 9, 200]

### 랜덤

In [25]:
import random

In [47]:
lotto_numbers = []
for i in range(6):
    lotto_numbers.append(random.randint(1,45))
lotto_numbers

[40, 45, 25, 17, 12, 5]

In [50]:
lotto_numbers = []
value = 0
for i in range(6):
    value = random.randint(1, 45)
    if value not in lotto_numbers:
        lotto_numbers.append(value)
lotto_numbers

[5, 7, 20, 36, 4, 13]

In [51]:
lotto_numbers = []
while True:
    value = random.randint(1, 45)
    if value not in lotto_numbers:
        lotto_numbers.append(value)
    if len(lotto_numbers) == 6:
        break
lotto_numbers

[27, 1, 19, 44, 45, 13]

In [52]:
numbers = [1, 3, 5, 7, 9]
numbers[0] = 10
numbers.append(9)
numbers

[10, 3, 5, 7, 9, 9]

In [53]:
numbers.pop(3)

7

In [54]:
numbers

[10, 3, 5, 9, 9]

In [55]:
numbers.remove(9)

In [56]:
numbers

[10, 3, 5, 9]

### slice

In [57]:
message = "hello world"

In [58]:
message[0]

'h'

In [60]:
message[1:] #slice

'ello world'

In [61]:
message[1:-1]

'ello worl'

In [64]:
message[1:-1:2]

'el ol'

In [65]:
message[-1:1]

''

In [66]:
message[-1:1:-1]

'dlrow oll'

In [67]:
message[::-1]

'dlrow olleh'

In [68]:
"hello" + " world"

'hello world'

In [69]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### list comprehension

In [72]:
numbers1 = [1,3, 5, 7]
numbers2 = [2, 4, 6, 8]

In [77]:
result = []
for i in range(len(numbers1)):
    result.append(numbers[i] + numbers2 [i])
result

[12, 7, 11, 17]

In [75]:
for(i, j) in zip(numbers1, numbers2):
    print(i, j)

1 2
3 4
5 6
7 8

In [94]:
numbers3 = [22, 33, 44, 55]

In [95]:
for(i, j, k) in zip(numbers1, numbers2, numbers3):
    print(i, j, k)

1 2 22
3 4 33
5 6 44
7 8 55

In [97]:
[i + j + k
 for (i, j, k) in zip(numbers1, numbers2, numbers3)]

[25, 40, 55, 70]

In [82]:
x = 1 
y = 2

In [83]:
x, y = y, x

In [84]:
x

2

In [85]:
y

1

In [87]:
numbers = [1, 2, 3, 4]

In [89]:
v1 = numbers[0]
v2 = numbers[1]
v3 = numbers[2]
v4 = numbers[3]

In [88]:
v1, v2, v3, v4 = numbers

In [90]:
v1

1

 ### tuple

In [98]:
(1,2,3)

(1, 2, 3)

In [99]:
(1,2,)

(1, 2)

In [100]:
(1)

1

In [101]:
for i in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
for i in (1,2):
    print(i)

1
2

In [107]:
#for i in (1):
    #print(i)
# 튜플은 쉼표가 없으면 정수로 보니까 뒤가 비더라도 쉼표는 찍어주자.
#는 오류가 난다 범위안에 정수를 순회할 수 없기 떄문에
# 가급적이면 사용하지 말고 list 형태로 사용하기 바람 []

### 그림 가져오기

In [ ]:
import os
import requests
from bs4 import BeautifulSoup

comic_url = 'https://comic.naver.com/webtoon/detail.nhn?titleId=662774&no=142&weekday=wed'

In [ ]:
res = requests.get(comic_url)# 해당 URL에 응답을 요청
html = res.text              # 응답에서 HTML 문자열을 획득 
soup = BeautifulSoup(html, 'html.parser')   # 획득된 HTML문자열을 통해, 파서 객체 생성

image_url_list = []

for tag in soup.select('#comic_view_area img'):  # id가 comic_view_area 인 태그 아래에 있는 모든 img 태그 리스트를 획득
    try:
        # 모든 img 태그에 이미지주소인 src 속성이 있는 것은 아니기에
        #  이미지 주소 src 속성이 없다면 KeyError 예외가 발생
        image_url = tag['src']
        # 이미지 주소를 가져왔는데, 주소가 빈 경우도 있다.
        if image_url:
            image_url_list.append(image_url)
    except KeyError:
        pass
        
image_url_list

In [ ]:
for image_url in image_url_list:
    res = requests.get(image_url, headers={'Referer': comic_url})
    image_data = res.content
    image_name = os.path.basename(image_url)
    
    print(image_url)
    with open(image_name, 'wb') as f:
        f.write(image_data)

### 집합(set) 중복을 배제시킨다.

In [9]:
set_numbers = {1, 3, 4, 5, 1, 4, 3, 1}
set_numbers

{1, 3, 4, 5}

In [10]:
for value in set_numbers :   # 임의 순서대로 정렬이 되어 있다 내가 넣은 순서를 보장해주진 않는다. 오름차순 정렬 아니다.
    print(value)

1
3
4
5

In [11]:
for value in sorted(set_numbers) :   # sorted 를 이용하여 오름차순 정렬을 이용,    
    print(value)

1
3
4
5

In [12]:
for value in sorted(set_numbers, reverse=True) :   # reverse 를 이용하여 내림차순(역순) 정렬을 이용,    
    print(value)

5
4
3
1

In [ ]:
mylist = [] #empty list
mylist = list()

mytuple = () #empty tuple
mytuple = tuple()

myset = set() #empty set

mydict = {} #empty dict
mydict = dic()

In [ ]:
myset= {1, 2, 3}
mydict = {'a': 1, 'b': 2, 'c': 3}

In [14]:
mylist = [1, 2, 3, 1, 2, 3, 1, 2, 3, 4]
list(set(mylist))

[1, 2, 3, 4]

### 사전(dict)

In [19]:
학생목록 = [
    {'이름': '김철수', '국어': 100, '영어':90, '수학': 70,},
    {'이름': '이영희', '국어': 100, '영어':90, '수학': 70,},
    {'이름': '배칠수', '국어': 100, '영어':90, '수학': 70,},
]

In [24]:
for 학생 in 학생목록:
    평균 = (학생['국어'] + 학생['영어'] + 학생['수학']) // 3
    print(학생['이름'], 평균)

김철수 86
이영희 86
배칠수 86

In [25]:
철수 = {'이름': '김철수', '국어': 100, '영어':90, '수학': 70,}
철수

{'이름': '김철수', '국어': 100, '영어': 90, '수학': 70}

In [26]:
철수['음악'] = 90
철수

{'이름': '김철수', '국어': 100, '영어': 90, '수학': 70, '음악': 90}

In [27]:
del 철수['이름']
철수

{'국어': 100, '영어': 90, '수학': 70, '음악': 90}

In [29]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
def mysum(x, y):
    '''인자로 받은 x,y. 2개 값을 더한 값을 리턴해줍니다.
    '''
    return x + y + 10

In [32]:
mysum?

In [ ]:
names = {
    'tom': 10,
    'steve': 12,
    #'john': 9,
    #'Anderson': 14.
    #'Bell':8 ,
}
names

### 함수 (Function)

In [33]:
def myprint(message, times):
    for i in range(times):
        print(message)

In [34]:
리턴값 = myprint("hello", 3)

hello
hello
hello

In [38]:
print(리턴값)
# 리턴값이 없지만 파이썬에서는 없을 수 없기에 None이란걸 없다는 표시로 리턴한다.

None

In [39]:
def mysum(x, y):
    if x > 0:
        return x + y + 10

In [40]:
mysum(-1, 2)

In [41]:
'안녕 {}야. {}에서 왔구나. '.format("철수", "부산")  #positional Argumets

'안녕 철수야. 부산에서 왔구나. '

In [42]:
'안녕 {이름}야. {지역}에서 왔구나. '.format(이름 = "철수", 지역 =  "부산")  #keyword Argumets

'안녕 철수야. 부산에서 왔구나. '

In [43]:
def mysum(x, y):
    return x ** y + 10

In [44]:
mysum(1, 2)

11

In [45]:
mysum(2, 1)

12

In [46]:
mysum(x=1, y=2)

11

In [47]:
mysum(y=2, x=1)

11

In [49]:
def mysum(x, y, base):
    return x ** y + base

In [51]:
import pandas as pd
pd.DataFrame?

### packing/ unpacking

In [52]:
v1 = 10
v2 = 20
v3 = 30
v4 = 40

[v1, v2, v3, v4] #이 과정을 packing 이라 한다 여러개의 변수를 하나의 변수로 만든것.

[10, 20, 30, 40]

In [54]:
mylist = [10, 20, 30, 40]
v1, v2, v3, v4 = mylist # 이 과정을 unpacking 하나의 변수를 여러개의 변수로 만든것

In [55]:
def mysum(a, b, c, d, e):
    return a + b + c + d + e

In [57]:
values = [10, 20, 30, 40, 50]
mysum(values[0], values[1], values[2], values[3], values[4])

150

In [58]:
values = [10, 20, 30, 40, 50]
mysum(*values)

150

### 익명함수
 
파이썬은 1급 함수 (First-Class Function)를 지원하는 언어입니다.

In [62]:
def mysum(x, y):
    return x + y + 10

In [63]:
fn = mysum

In [64]:
fn(1, 2)

13

In [66]:
lambda x, y: x + y + 10

In [67]:
(lambda x, y: x + y +10)(1,2 )

13

In [68]:
mysum = lambda x, y: x + y + 10

In [69]:
mysum(1, 2)

13

In [73]:
def make_fn(base):
    fn = lambda x, y: x + y + base
    return fn

In [76]:
base_10 = make_fn(10)
base_10(1, 2)

13

### 장식자 (Decorators)

In [9]:
import time

In [10]:
cached1 = {}

def mysum(x, y):
    key = (x, y)
    if key not in cached1:
        time.sleep(3)
        cached1[key] = x + y + 10
    return cached1[key]

cached2 = {}

def mymultiply(x, y):
    key = (x, y)
    if key not in cached2:
        time.sleep(3)
        cached2[key] = x * y + 10
    return cached2[key]

In [11]:
print(mysum(1, 2))
print(mysum(1, 2))
print(mysum(1, 2))
print(mymultiply(1, 2))

13
13
13
12

In [12]:
def memoize(fn):
    cached = {}
    def wrap(x, y):
        key = (x, y)
        if key not in cached:
            cached[key] = fn(x, y)
        return cached[key]
    return wrap


@memoize
def mysum(x, y):
    time.sleep(3)
    return x + y + 10

@memoize
def mymultiply(x, y):
    time.sleep(3)
    return x * y + 10

In [13]:
print(mysum(1, 2))
print(mysum(1, 2))
print(mysum(1, 2))
print(mymultiply(1, 2))

13
13
13
12

### Simple

In [17]:
def base_10(fn):
    wrap = lambda x, y: fn(x, y) + 10
    return wrap

In [18]:
# def mysum(x, y):
#     return x + y

# mysum = base_10(mysum)

In [19]:
@base_10
def mysum(x, y):
    return x + y

In [20]:
mysum(1, 2)

13

In [21]:
def base_10(fn):
    wrap = lambda x, y: fn(x, y) + 10
    return wrap

def base_20(fn):
    wrap = lambda x, y: fn(x, y) + 20
    return wrap

def base_30(fn):
    wrap = lambda x, y: fn(x, y) + 30
    return wrap

In [22]:
def base(base_number):
    def inner(fn):
        wrap = lambda x, y: fn(x, y) + base_number
        return wrap
    return inner

In [23]:
base_10 = base(10)
base_20 = base(20)
base_30 = base(30)

@base_10
def mysum(x, y):
    return x + y

mysum(1, 2)

13

In [24]:
@base(10)
def mysum(x, y):
    return x + y

mysum(1, 2)

13

In [25]:
@base(30)
def mysum(x, y):
    return x + y

mysum(1, 2)

33

### 인코딩

In [26]:
"가나다라마바사아자차카타파하"[1:]

'나다라마바사아자차카타파하'

In [27]:
len("안녕")

2

In [28]:
"안녕".encode("utf8")

b'\xec\x95\x88\xeb\x85\x95'

In [29]:
"안녕".encode("cp949")

b'\xbe\xc8\xb3\xe7'

In [30]:
# 현재 파이썬 프로세스 밖으로 나갈 때 인코딩을 해서 나간다.
#메모장이나 엑셀은 cp949로 인코딩 한다.
#가급적이면 utf8을 쓴다.

In [ ]:
utf8_data = : "안녕".encode("utf8")
    
f = open("안녕.txt", "wb")
f.write(utf8_data)
f.close

In [ ]:
utf8_data = : "안녕".encode("utf8")
    
with open("안녕.txt", "wb") as f:
    f.write(utf8_data)
#위와 같은 코드 중간에 문제가 생겨도 close가 된다. 권장한다 안정하게 파일을 닫을 수 있다.

In [ ]:
utf8_data = : "안녕".encode("utf8")
    
with open("안녕.txt", "wt", encoding =' utf8') as f:
    f.write(unicode_data)
    f.write('가')
    f.write('나')
    f.write('다')
    f.write('라')
    f.write('마')
#위와 같은 코드, 유니코드를 utf8으로 바로 인코딩 해준다.

In [ ]:
with open("정말큰파일.txt", "rt", encoding = "utf8") as f:
    lines = f.read().splitlines()
    for line in lines:
        pass

In [ ]:
with open("정말큰파일.txt", "rt", encoding = "utf8") as f:
    for line in f:
        pass
#위와 같지만 훨신 더 효율적인 코드